*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    height: 50px;
    margin-left: 50px;
}
h1{
    text-align: center;
    margin: 10px;
    font-weight: 800;
    font-size: 50px;
}
.pagination-container{
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pagination-number, .pagination-button{
    font-size: 1.1rem;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px;
    width: 5rem;
    height: 2.5rem;
}
.pagination-number .active{
    color: #fff;
    background-color: #0085b6;
}
.pagination-number:hover, .pagination-button:not(.disabled):hover{
    background: #fff;
    color:black
}
.hidden{
    display:none
}